<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ siteInfo.siteName ?: systemName }}</title>
    <link rel="stylesheet" href="/assets/dist/styles/main.css">
</head>

<body class="max-w-screen-lg mx-auto px-8">

<header class="mb-8 border-b border-gray-400 py-8">
    <a class="text-3xl font-semibold" href="{{ siteUrl }}">{{ siteInfo.siteName ?: systemName }}</a>
</header>

<main>

    {% block featured %}
        {% include '_partials/featured_image.twig' %}
    {% endblock %}

    {% block title %}
        <h1 class="mb-8 text-4xl font-semibold">{% block titleText %}{{ entry.title }}{% endblock %}</h1>
    {% endblock %}

    {% block content %}

        {% include '_partials/blocks.twig' with {
            query: entry.bodyContent
        } only %}

    {% endblock %}
</main>

<footer class="mt-8 border-t border-gray-400 py-8">
    &copy; {{ siteInfo.copyright }} {{ now|date('Y') }}
</footer>

</body>
</html>
