{%- set title = entry is defined ? entry.title : title -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}" style="overflow-y: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} | {{ siteInfo.siteName ?: systemName }}</title>
    {{ craft.vite.script("/resources/js/app.js", false) }}
</head>


<body class="bg-gray-50 text-gray-700 px-8" dir="{{ craft.app.locale.orientation }}">

<a href="#content" class="sr-only focus:not-sr-only">Skip to content</a>

<header class="max-w-screen-lg mx-auto">

    <nav class="my-8 flex justify-between items-center">
        <a class="text-3xl font-semibold" href="{{ siteUrl('/') }}">{{ siteInfo.siteName ?: systemName }}</a>
        <div>
            Navigation placeholder!
        </div>
    </nav>

    {% block featured %}

        {% set featuredImage = entry.featuredImage.one ?? siteInfo.featuredImage.one %}

        {% if featuredImage %}
            {% include '_partials/featured-image.twig' with {featuredImage} %}
        {% endif %}

    {% endblock %}

</header>

<main id="content" class="my-8 max-w-screen-md mx-auto">

    {% block title %}
        <h1 class="text-4xl font-bold text-gray-900">{% block titleText %}{{ title }}{% endblock %}</h1>
        {% if entry.teaser %}
            <div class="my-8 text-lg font-semibold">
                {{ entry.teaser }}
            </div>
        {% endif %}
    {% endblock %}

    {% block content %}
        {% if entry is defined and entry.bodyContent %}
            <div class="my-8">
                {% include '_partials/blocks.twig' with {
                    query: entry.bodyContent
                } only %}
            </div>
        {% endif %}
    {% endblock %}

</main>

<footer class="mt-8 max-w-screen-lg mx-auto">
    <div class="border-t border-gray-400 py-4 flex justify-between">
        <div>
            &copy; {{ siteInfo.copyright }} {{ now|date('Y') }}
        </div>
        <div>
            {% if entry is defined %}
                <a href="{{ entry.cpEditUrl }}">Edit</a>
            {% endif %}
        </div>
    </div>
</footer>

</body>
</html>
