{% set element = entry ?? category ?? tag -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}" style="overflow-y: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ element.title }} | {{ siteInfo.siteName ?: systemName }}</title>
    <link rel="stylesheet" href="{{ url('assets/dist/styles/main.css') }}">
</head>

{% set bodyClasses = 'max-w-screen-lg mx-auto px-8' %}
<body>

<header class="py-8">

    <div class="{{ bodyClasses }} ">
        <a class="text-3xl font-semibold" href="{{ siteUrl }}">{{ siteInfo.siteName ?: systemName }}</a>
    </div>

    {% block featured %}
        {% include '_partials/featured_image.twig' %}
    {% endblock %}

</header>


<main class="{{ bodyClasses }}">

    {% block title %}
        <h1 class="mb-8 text-4xl font-semibold">{% block titleText %}{{ element.title }}{% endblock %}</h1>
    {% endblock %}

    {% block content %}
        {% if element.bodyContent %}
            {% include '_partials/blocks.twig' with {
                query: element.bodyContent
            } only %}
        {% endif %}
    {% endblock %}

</main>

<footer class="{{ bodyClasses }} mt-8 border-t border-gray-400 py-8">
    &copy; {{ siteInfo.copyright }} {{ now|date('Y') }}
</footer>

</body>
</html>
