<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ systemName }}</title>
    <link rel="stylesheet" href="/assets/dist/styles/main.css">
</head>

<body>


<div class="max-w-screen-lg mx-auto px-8 py-8">
    <div class="py-4 border-b">
        <a class="text-4xl font-semibold" href="{{ siteUrl }}">{{ systemName }}</a>
    </div>

    <h1 class="my-8 text-4xl font-semibold">{{ entry.title }}</h1>

    {% block content %}
        Your content goes here
    {% endblock %}

</div>

</body>
</html>
