{%- set title = entry is defined ? entry.title : title -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}" style="overflow-y: scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} | {{ siteInfo.siteName ?: systemName }}</title>
    {{ craft.vite.script("/resources/js/app.js", false) }}
</head>


<body class="max-w-screen-lg mx-auto bg-gray-50 px-8 text-gray-700" dir="{{ craft.app.locale.orientation }}">

<header class="py-8">


    <div class=" border-b border-gray-400 pb-8">
        <a class="text-3xl font-semibold" href="{{ siteUrl('/') }}">{{ siteInfo.siteName ?: systemName }}</a>
    </div>

    {% block featured %}
        {% if entry is defined and entry.featuredImage %}
            {% set featuredImage = entry.featuredImage.one %}
        {% endif %}

        {% if featuredImage is defined %}
            {% include '_partials/featured-image.twig' with {featuredImage} %}
        {% endif %}

    {% endblock %}

</header>

<main>

    {% block title %}
        <h1 class="mb-8 text-4xl font-semibold">{% block titleText %}{{ title }}{% endblock %}</h1>
    {% endblock %}

    {% block content %}
        {% if entry.bodyContent %}
            {% include '_partials/blocks.twig' with {
                query: entry.bodyContent
            } only %}
        {% endif %}
    {% endblock %}

</main>

<footer>
    <div class="border-t border-gray-400 py-8">
        &copy; {{ siteInfo.copyright }} {{ now|date('Y') }}
    </div>
</footer>

</body>
</html>
